@import "assets/scss/mixins/_all";

.hero-head {
  .navbar {
    .navbar-burger {
      top: 10px;
      right: 10px;
      z-index: 999;

      span {
        color: #3090c7;
        height: 2px;
      }
    }

    .navbar-menu {
      margin-left: 10px !important;
      justify-content: left;
      box-shadow: none;

      &.is-active {
        position: fixed;
        margin: 0 !important;
        padding-top: 100px;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        .navbar-start {
          .navbar-item {
            font-size: 20px;
          }
        }
      }

      .navbar-start {
        .navbar-item {
          margin-top: 10px;
        }

        a {
          font-size: 12px;
          font-weight: 600 !important;
          text-transform: uppercase;
          @include color-transition;

          &:hover {
            background: none;
          }

          &.is-active {
            background: none;
            color: #3090c7;
          }
        }
      }

      .navbar-end {
        margin-right: 20px;

        .navbar-item {
          padding: 0 15px 0 0;
        }
      }
    }
  }
}
