@mixin border-transition($value: 0.2s) {
  -webkit-transition: border $value ease-in-out;
  -moz-transition: border $value ease-in-out;
  -o-transition: border $value ease-in-out;
  transition: border $value ease-in-out;
}
