.dark {
  /**
   * Body Settings
   */
  background: #000;
  @include background-transition;

  p {
    color: #ccc;

    strong {
      color: #0a72af;
    }
  }

  .hero-head {
    .navbar {
      .navbar-menu {
        .navbar-start {
          a {
            color: #FFFFFF;

            &:hover {
              color: #8D8D8D;
            }
          }
        }
      }
    }
  }
}
