/**
 * Bulma Reference
 * http://bulma.io/documentation/overview/variables/
 */
 @import '~bulma/sass/utilities/initial-variables';

 /**
  * Body Settings
  */
 $body-background-color: #ffffff;

 /**
  * Global Font
  */
 $family-primary: 'Spartan';

 /**
  * Global Font Color
  */
 $body-color: #000000;

 /**
  * Base Bulma Styles
  */
 @import '~bulma/bulma.sass';
